@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  word-break: break-word;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;
}

button:hover {
  cursor: pointer;
}

.header {
  height: 69px;
  width: 100%;
  background: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.quizz-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 146px auto;
  gap: 77px;
}

.user-quizzes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-quizzes-title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.user-quizzes-title {
  display: flex;
  width: 122px;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.user-quizzes-buttom {
  color: #ec362d;
  font-size: 30px;
}

.user-quizzes-list {
  display: flex;
  width: 1051px;
  flex-wrap: wrap;
  gap: 15px;
}

.create-first-quizz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 1051px;
  height: 181px;

  background: #fafafa;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
}

.create-first-quizz-msg {
  width: 250px;
  height: 107px;

  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #b9b9b9;
}

.create-first-quizz-button {
  all: unset;
  width: 151px;
  height: 40px;
  background: #fafafa;
  border: 1px dashed #ec362d;
  border-radius: 50px;

  font-weight: 400;
  font-size: 21px;
  line-height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #ec362d;
}

.all-quizzes {
  display: flex;
  flex-direction: column;
  width: 1051px;
  gap: 12px;
}

.all-quizzes-title {
  width: 158px;
  height: 23px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.all-quizzes-list {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}

.quizz-img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  cursor: pointer;
}

.quizz-img:hover {
  opacity: 1;
}

.quizz-title {
  position: absolute;
  width: 301px;
  height: 54px;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
}

.delete {
  position: absolute;
  right: 0;
  top: 10%;
  width: 43px;
  height: 47px;
  color: #ffffff;
  background: #ec362d;
  border-radius: 10px 0px 0px 11px;
  z-index: 9;
}

.quizz-box {
  position: relative;
  width: 340px;
  height: 181px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );

  border-radius: 5px;
}

/*inicio_pagina_2*/
.quizz-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-quizz {
  width: 100%;
}

.container-quizz img {
  width: 100%;
  height: 227px;
  filter: brightness(60%);
  margin-top: 69px;
  margin-bottom: 42px;
}

.container-quizz span {
  height: 227px;
  font-weight: 400;
  font-size: 39px;
  line-height: 45.7px;

  top: 69px;
  left: 10%;
  right: 10%;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: #ffffff;
}

.container-head {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.container-question {
  width: 759px;
  display: flex;
}

.container-answer {
  width: 759px;
}

.container-adjust {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}

.container-title {
  margin-top: 18px;
  width: 727px;
  height: 99px;

  background: #ec362d;
}

.container-title h1 {
  height: 99px;
  font-weight: 700;
  font-size: 23px;
  line-height: 26.95px;

  margin: 0 14px;

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
}

.container-body {
  margin-top: 20px;
  width: 727px;
  height: 313px;

  display: flex;
  justify-content: space-between;
}

.container-body img {
  width: 364px;
  height: 273px;
}

.container-body p {
  width: 342px;

  font-weight: 700;
  font-size: 19px;
  line-height: 25px;

  text-align: initial;

  color: #484848;
}

.question-title {
  width: 688px;
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-title h1 {
  font-weight: 700;
  font-size: 23px;
  line-height: 26.95px;
  text-shadow: 0 0 1px black;
  text-align: center;

  color: #ffffff;
}

.style-answer {
  width: 688px;
  background-color: #ffffff;
  flex-wrap: wrap;

  display: flex;
  justify-content: space-between;

  margin-top: 20px;
}

.answer {
  width: 330px;
  background-color: #ffffff;
}

.answer img {
  width: 330px;
  height: 175px;
  margin-bottom: 5px;
  cursor: pointer;
}

.answer h2 {
  height: auto;

  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
}

.restart {
  width: 260px;
  height: 52px;
  font-weight: 400;
  font-size: 18px;

  border: none;
  background-color: #ec362d;
  color: #ffffff;

  border-radius: 15px;
  margin-top: 48px;
  margin-bottom: 18px;
}
/*termino_pagina_2*/

/* começo_pagina_3 */
.quizz-creator {
  margin: 76px 0 0 0;
  display: flex;
}
.quizz-creator h1 {
  margin: 65px 0 34px 0;
  font-size: 23px;
  font-weight: 700;
  color: #000000;
}
.quizz-creator-button {
  width: 354px;
  height: 54px;
  margin: 70px 0 40px 0;
  background: #ec362d;
  border-radius: 15px;
  border-style: ridge;
  border: 0px;

  color: #fff5f4;
  font-weight: 400;
  font-size: 21px;
}
.container-creator {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start,
.creator-question,
.level,
.quizz-check {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
}
.list-question-creator {
  width: 100%;
}
.list-level-creator {
  width: 100%;
}
.info-question-creator {
  width: 100%;
  padding: 0 0 0 50px;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #ffffff;
  margin: 0 0 30px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.question-creator-box {
  display: flex;
  width: 100%;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
}
.create {
  width: 26px;
}
.basic {
  height: 270px;
}
.inputs input {
  margin-bottom: 9px;
  width: 90%;
  height: 46px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 400;
}

.quizz-creator h2 {
  margin: 20px 0 15px 0;
  font-size: 23px;
  font-weight: 700;
  color: #000000;
}

.incorrect {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 30px 0;
}
::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  color: #bababa;
}
.quizz-check img {
  width: 500px;
  height: 266px;
  border-radius: 5px;
}
.img-quizz-check {
  position: relative;
}
.title-image-quizz-check {
  position: absolute;
  left: 25px;
  bottom: 20px;
  font-weight: 400;
  font-size: 23px;
  color: #ffffff;
}

.back-button {
  width: 354px;
  height: 54px;
  color: #818181;
  font-weight: 400;
  font-size: 21px;
  background-color: #ffffff;
  border-radius: 15px;
  border-style: ridge;
  border: 0px;
}

/* fim_pagina_3 */

.correct {
  color: #009c22;
}

.incorrectAnswer {
  color: #ff4b4b;
}

.hidecolor {
  color: #000000;
}

.opacity {
  opacity: 0.3;
}

.hidden {
  /*deixar sempre abaixo*/
  display: none;
}

@media (max-width: 1100px) {
  /*inicio_pagina_1*/
  .create-first-quizz {
    width: 90%;
  }

  .all-quizzes {
    display: flex;
    flex-direction: column;
    max-width: min-content;
  }

  .all-quizzes-list {
    width: 100%;
    justify-content: center;
  }

  .user-quizzes {
    width: min-content;
  }

  .user-quizzes-title-box {
    justify-content: space-between;
  }

  .user-quizzes-list {
    width: min-content;
    flex-direction: column;
    justify-content: center;
  }

  /*termino_pagina_1*/

  /*inicio_pagina_2*/
  .container-quizz img {
    height: 142px;
  }

  .container-quizz span {
    height: 142px;
  }

  .container-question {
    width: 375px;
  }

  .question-title {
    width: 100%;
    height: 89px;
  }

  .question-title h1 {
    font-weight: 700;
    font-size: 19px;
    line-height: 22.27px;
  }

  .style-answer {
    align-items: center;
    width: 375px;
    gap: 20px;
  }

  .answer {
    width: 163px;
  }

  .answer img {
    width: 163px;
    height: 113px;
  }

  .answer h2 {
    font-weight: 700;
    font-size: 13px;
    line-height: 15.23px;
  }

  .container-answer {
    width: 375px;
    height: auto;
  }

  .container-title {
    width: 340px;
  }

  .container-title h1 {
    height: 99px;
    font-weight: 700;
    font-size: 19px;
    line-height: 22.27px;
  }

  .container-body {
    width: 340px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .container-body img {
    width: 340px;
    height: 255px;
  }

  .container-body p {
    margin-top: 10px;
    width: 340px;

    font-weight: 700;
    font-size: 17px;
    line-height: 19.92px;
  }

  .restart {
    width: 221px;
    height: 44px;
  }

  .back-button {
    width: 220px;
    height: 44px;
    color: #818181;
    font-weight: 400;
    font-size: 18px;
  }
  /*fim_pagina_2*/

  /*inicio_pagina_3*/
  .quizz-creator h1 {
    margin: 65px 0 34px 0;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
  }

  .start,
  .creator-question,
  .level,
  .quizz-check {
    max-width: 600px;
  }

  .quizz-creator-button {
    width: 325px;

    font-size: 18px;
  }

  .quizz-creator h2 {
    font-size: 20px;
  }

  .quizz-check img {
    width: 340px;
    height: auto;
  }

  /*fim_da_pagina_3*/
}

@media (max-width: 600px) {
  .start,
  .creator-question,
  .level,
  .quizz-check {
    width: 100%;
  }
}
