@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;
}

.header {
  height: 69px;
  width: 100%;
  background: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.quizz-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 146px auto;
  gap: 77px;
}

.user-quizzes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-quizzes-title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.user-quizzes-title {
  display: flex;
  width: 122px;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.user-quizzes-buttom {
  color: #ec362d;
  font-size: 30px;
}

.user-quizzes-list {
  display: flex;
  width: 1051px;
  flex-wrap: wrap;
  gap: 15px;
}

.create-first-quizz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 1051px;
  height: 181px;

  background: #fafafa;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
}

.create-first-quizz-msg {
  width: 250px;
  height: 107px;

  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #b9b9b9;
}

.create-first-quizz-button {
  all: unset;
  width: 151px;
  height: 40px;
  background: #fafafa;
  border: 1px dashed #ec362d;
  border-radius: 50px;

  font-weight: 400;
  font-size: 21px;
  line-height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #ec362d;
}

.all-quizzes {
  display: flex;
  flex-direction: column;
  width: 1051px;
  gap: 12px;
}

.all-quizzes-title {
  width: 158px;
  height: 23px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.all-quizzes-list {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}

.quizz-img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
}

.quizz-img:hover {
  opacity: 1;
}

.quizz-title {
  position: absolute;
  width: 301px;
  height: 54px;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.quizz-box {
  position: relative;
  width: 340px;
  height: 181px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );

  border-radius: 5px;
}

/*inicio_pagina_2*/
.quizz-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-quizz {
  width: 100%;
  position: relative;
}

.title-quizz img {
  width: 100%;
  height: 180px;
  filter: brightness(60%);
  margin-top: 69px;
}

.title-quizz span {
  font-weight: 400;
  font-size: 39px;
  line-height: 45.7px;

  top: 140px;
  left: 10%;
  right: 10%;

  text-align: center;
  position: absolute;
  color: #ffffff;
}

.container-question {
  width: 759px;
  height: 676px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 42px;
  background: #ffffff;
}

.question-title {
  width: 688px;
  height: 138px;
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 28px;
  background: #434ca0;
}

.question-title h1 {
  font-weight: 700;
  font-size: 23px;
  line-height: 26.95px;
  text-align: center;

  color: #ffffff;
}

.container-answer {
  width: 688px;
  height: 500px;
  flex-wrap: wrap;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer img {
  width: 329px;
  height: 175px;
  margin-bottom: 10px;
}

.answer h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;

  color: #000000;
}
.back-home {
  font-weight: 400;
  font-size: 21px;

  border: none;
  color: #818181;
  background: #fafafa;
}
/*termino_pagina_2*/

/* começo_pagina_3 */
.quizz-creator {
  margin: 69px 0 0 0;
}
.quizz-creator h1 {
  margin: 0 0 34px 0;
  font-size: 23px;
  font-weight: 700;
  color: #000000;
}
.quizz-creator button {
  width: 354px;
  height: 54px;
  margin: 70px 0 0 0;
  background: #ec362d;
  border-radius: 15px;
  border-style: ridge;
  border: 0px;

  color: #fff5f4;
  font-weight: 400;
  font-size: 21px;

  cursor: pointer;
}
.container-creator {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
}
.input-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 270px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.input-start input {
  margin-bottom: 9px;
  width: 90%;
  height: 46px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 400;
}
::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  color: #bababa;
}

/* fim_pagina_3 */
.hidden {
  /*deixar sempre abaixo*/
  display: none;
}
